 <%= render 'layouts/slideshow' %>
 <div class="home">
<h1> Welcome to FirstResort </h1>
<h3> Join the FirstResort community today to discover new experiences with opportunities around the globe. </h3>
<p>The hospitality industry is one of the fastest-growing industries of today. You can reap the benefits of connecting with workers in the hospitality industry.</p>
<button id="btn" onclick="HostShow()">Host</button><button id="btn" onclick="CandidateShow()">Candidate</button>
<p id="demo"></p>
<br>
</div>
<div id="works">
<h1> How it works </h1>
<%= image_tag ("how_it_works2.png") %>
<br>
<br>
 <div id='mydiv' style='display:none'>
   <p>TEST</p>
 </div>
<p><a href="/users/sign_up", class="button"><%= "Sign up now!" %></a></p>
</div>

