     <footer class="footSec">
        <!-- Footer view -->   
     <li><%= link_to "Contact Us", "/contacts/new" %></li>
     <div id="icons">
           <%= link_to "https://www.facebook.com" do %>
       <i class="fa fa-facebook-square fa-2x fa-inverse" aria-hidden="true"></i>
       <% end %>
             <%= link_to "https://www.instagram.com" do %>
        <i class="fa fa-instagram fa-2x fa-inverse" aria-hidden="true"></i>
       <% end %>
             <%= link_to "https://twitter.com" do %>
       <i class="fa fa-twitter-square fa-2x fa-inverse" aria-hidden="true"></i>
       <% end %>
    </div>